@model FlashcardFolderInfoViewModel

<h1 class="display-4">Edit Folder Details</h1>

<form asp-action="EditFolder" method="post" class="form-horizontal" role="form">

    <partial name="_FolderUpdate" model="Model" />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Save Changes" />
        </div>
    </div>
</form>

